In [3]:
#260
import pandas as pd
index=pd.date_range('1/1/2021',periods=8)
print(index)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08'],
              dtype='datetime64[ns]', freq='D')

In [8]:
import numpy as np
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df

                   A         B         C
2021-01-01  0.801808  0.623872  0.626894
2021-01-02  0.933631  0.877865  0.660921
2021-01-03  0.474748  0.499577  0.545610
2021-01-04  0.657108  0.106890  0.403715
2021-01-05  0.801975  0.821524  0.682937
2021-01-06  0.717906  0.555727  0.908407
2021-01-07  0.359064  0.046011  0.058128
2021-01-08  0.541279  0.443316  0.265421

In [9]:
print(df['B'])

2021-01-01    0.623872
2021-01-02    0.877865
2021-01-03    0.499577
2021-01-04    0.106890
2021-01-05    0.821524
2021-01-06    0.555727
2021-01-07    0.046011
2021-01-08    0.443316
Freq: D, Name: B, dtype: float64

In [10]:
print(df['B']>0.4) #numpy의 마스크 기능, 조건을 만족하는지에 따라 참과 거짓을 반환

2021-01-01     True
2021-01-02     True
2021-01-03     True
2021-01-04    False
2021-01-05     True
2021-01-06     True
2021-01-07    False
2021-01-08     True
Freq: D, Name: B, dtype: bool

In [12]:
#263
df2=df[df['B']>0.4] #B열의 값이 0.4보다 큰 값
df2

                   A         B         C
2021-01-01  0.801808  0.623872  0.626894
2021-01-02  0.933631  0.877865  0.660921
2021-01-03  0.474748  0.499577  0.545610
2021-01-05  0.801975  0.821524  0.682937
2021-01-06  0.717906  0.555727  0.908407
2021-01-08  0.541279  0.443316  0.265421